.git
.vscode
.DS_Store
.DS_Store?
build/docker
build/images
deployments
public/uploads/.gitignore
storage/logs/*
tmp
.tmp/
.air.*
.dockerignore
.editorconfig
.env.debug
.env.example
.gitignore
Makefile
readme.md
README.md
